<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chop/Clip</title>

    <!-- Bootstrap Core CSS -->
    <link type='text/css' href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link type='text/css' href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
     <script>



    $(document).ready(function(){

      var address = prompt("Please enter 11 last symbols of YT video", "YT last 11 charachters");

      $('#passURL').val(address);

      var beg = null;
      var end = null;

    $("#takeTime").click(function(){
      if (beg == null){
        beg = player.getCurrentTime();
        $('#beg').val(beg);
        console.log(beg);
      }
      else{
        end = player.getCurrentTime();
        player.pauseVideo();
        $('#end').val(end);
        console.log(end);
      }
      return false;
    })

      $("#category").submit(function(){
      $.post('/moments/category', $(this).serialize(), function(res) {
              cats = res;
              });

      return false;
    })

    $("#toServer").submit(function(){
      $.post('/moments/add', $(this).serialize(), function(res) {
              alert('Succesffully uploaded');
              });

      return false;
    })

      $("#goto").click(function(){
        player.seekTo(50, true);
        return false;
      })

      $("#makePlayer").submit(function(){
          var url = $("#passURL").val();

          
      createPlayer();

          return false
      })


      $("#searchForm").submit(function(){
            var search = "https://www.googleapis.com/youtube/v3/search?part=snippet&q="
            var term = $("#searchTerm").val();
            search += term + "&key=AIzaSyCye2u9GLjJske8wQtjgU_qAccSHkfkTmg";
            console.log(search);
          $.get(search, function(res) {
              var l =res.items.length
              console.log(l);
              for(var i=0; i<l; i++){
                console.log(res.items[i].id.videoId);
              }
              
              }, 'json');

          return false;
      })
      


    })

  </script>

</head>

<body>
  <header class="header">
     <h3><strong>"Edit, breakdown and show highlights to any youtube video!"</strong></h3>
     <nav class="navbar navbar-inverse">
       <div class="container-fluid">
         <div class="navbar-header">
           <a class="navbar-brand" href="#">Chop/Clip</a>

         </div>
         <ul class="nav navbar-nav">
           <li><a href="/success"><span class="glyphicon glyphicon-home"></span> Home</a></li>
           <img src="http://www.brandcrowd.com/gallery/brands/pictures/picture13256435132605.jpg" class="img-rounded" alt="Cinque Terre" width="80" height="60">
         </ul>
         <ul class="nav navbar-nav navbar-right">
           <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
         </ul>
       </div>
     </nav>

   </header>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <h1>Categories</h1>
                    </a>
                </li>
             {%for cat in cats%}
                 <li class="">
                    <a href='/category/{{cat['id']}}'>
                        {{ cat['name'] }}
                    </a>
                </li>
             {%endfor%}
                <li>
                  <form action="/moments/add" method='get'>
		                <input type="submit" class="btn btn-danger" value='Create new moment'>
	                 </form>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div id='player'></div>

                        	<div id='container' style='margin: auto;'> 
                        		<div>
									<a id="takeTime">Take time</a>
                        		</div>
                        		

							      <form id='toServer'>
							      <input type='hidden' name='url' id='passURL'>
							      <label>Category</label>
							      <select name='category'>
							        {%for cat in cats%}
							          <option value={{ cat['name'] }}>{{ cat['name'] }}</option>
							        {%endfor%}
							      </select>

							      <label>Beginning time:</label>
							      <input type='text' id='beg' name='beg'>
							      <label>Ending time:</label>
							      <input type='text' id='end' name='end'>
							      <input type='submit' value='Submit'>
							    </form>

							      <div>
							        <form action='/category' method='post'>
							        <label>Go to category:</label>
							        <select name='cat'>
							          {%for cat in cats%}
							            <option value={{ cat['id'] }}>{{ cat['name'] }}</option>
							        {%endfor%}
							        </select>
							          <input type='submit' value='Go'>
							      </form>
							      </div>  

</div>

                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Categories</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

       <script>

      
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
         videoId: 'UYeWCGYSfyw',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
       })

        };

        function onPlayerStateChange(event){
        //   console.log(event.data);
        //   if (event.data == YT.PlayerState.PAUSED) {
        //     var address  = $('#passURL').val();
        //     console.log(address);
        //     // player.loadVideoById(address);
        // }
        }

        function onPlayerReady(){
          var address  = $('#passURL').val();
          player.loadVideoById({'videoId': address,
               'suggestedQuality': 'large'});
        }

    </script>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
